---
import "../../style/general-style.css";
import "../../style/about.css";
---

<section class="about">
  <div class="info-about container-80">
    <h3 class="section-subtitle margin-24">&lt; Get to know me better /&gt;</h3>
    <h2 class="section-title margin-24">
      Hello! I am a young man passionate about web development, specialized in
      frontend
    </h2>
    <p class="section-paragraph margin-24">
      With a background in HTML, CSS, JavaScript, and Astro, among other
      technologies, I am dedicated to creating intuitive and engaging user
      interfaces. My goal is to transform ideas into digital experiences that
      are not only functional, but also visually striking. When I'm not coding,
      I enjoy exploring the world of anime and looking for new series to watch.
      I also enjoy sharing my knowledge and learning from others in the
      developer community.
    </p>
  </div>
</section>
