---
import "../../style/general-style.css";
import "../../style/about.css";
import "../../style/nav-movil.css";
---

<section class="about">
  <div class="info-about container-80">
    <h3 class="section-subtitle margin-24">&lt; Get to know me better /&gt;</h3>
    <h2 class="section-title margin-24">
      Hello! I am a young man passionate about web development, specialized in
      frontend
    </h2>
    <p class="section-paragraph margin-24">
      With a background in HTML, CSS, JavaScript, and Astro, among other
      technologies, I am dedicated to creating intuitive and engaging user
      interfaces. My goal is to transform ideas into digital experiences that
      are not only functional, but also visually striking. When I'm not coding,
      I enjoy exploring the world of anime and looking for new series to watch.
      I also enjoy sharing my knowledge and learning from others in the
      developer community.
    </p>
  </div>

  <!-- Model de contactos -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="staticBackdropLabel">
            Contact Area
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-modal">
            <div class="grid-modal">
              <div class="grid-modal1">
                <h3 class="title-form">Do you want to contact me?</h3>
                <p class="paragraph-form">
                  If you want to contact me, you can do so from this form, I
                  will respond as soon as possible.
                </p>
              </div>
              <div class="grid-modal2">
                <form
                  id="contactForm"
                  action="https://formspree.io/f/xldrqvla"
                  method="POST"
                >
                  <div class="content-form">
                    <div class="input">
                      <label
                        ><input
                          type="text"
                          id="name"
                          name="neme"
                          placeholder="Your Name"
                        /></label
                      >
                      <label
                        ><input
                          type="email"
                          id="email"
                          name="email"
                          placeholder="Your Email"
                        /></label
                      >
                    </div>
                    <div class="textarea">
                      <textarea
                        id="message"
                        placeholder="How can I help you?"
                        name="message"
                        maxlength="500"></textarea>
                      <span class="contador-text" id="char-count">500/Max</span>
                      <div class="error-validation">
                        <span class="validation-error" id="message-error"
                        ></span>
                        <span class="validation-error" id="name-error"></span>
                        <span class="validation-error" id="email-error"></span>
                        <span class="validation-success" id="form-success"
                        ></span>
                      </div>
                      <!-- Botón de envío -->
                      <button class="btn-form" type="submit">
                        Send Mail
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"
                          ></path>
                          <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="SVG-modal">
              <img src="../../../public/SVG/Form-Modal.svg" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="link-social social-media">
            <a href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                ></path><path d="M16.5 7.5l0 .01"></path></svg
              ></a
            >
            <a href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                ></path></svg
              ></a
            >
          </div>
          <span class="barra"></span>
          <div class="link-social social-sms">
            <a href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                ></path></svg
              ></a
            >
            <a href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path></svg
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
