---
import "../../style/general-style.css";
import "../../style/header.css";

import InfoHeader from "../../config/header-info.json";
---

<header>
  <div class="container-cicle">
    <div class="cicle cicle--1">
      <img
        src="../../../public/SVG/Ellipse-blue.svg"
        class="animate__animated animate__zoomIn animate__delay-1s"
      />
    </div>
    <div class="cicle cicle--2">
      <img
        src="../../../public/SVG/Ellipse-green.svg"
        class="animate__animated animate__zoomIn animate__delay-1s"
      />
    </div>
    <div class="cicle cicle--3">
      <img
        src="../../../public/SVG/Ellipse-blue.svg"
        class="animate__animated animate__zoomIn animate__delay-1s"
      />
    </div>
  </div>
  <section class="content-header container-90">
    <div class="header-grid">
      <div class="info-header">
        {
          InfoHeader.map((info) => (
            <div class="info-cesar">
              <h6 class="margin-24 developer animate__animated animate__backInLeft animate__delay-2s">
                {info.subTitle}
              </h6>
              <h1 class="margin-24 title animate__animated animate__backInLeft animate__delay-2s">
                {info.title}
              </h1>
              <p class="margin-24 paragraph animate__animated animate__backInLeft animate__delay-2s">
                {info.Paragraph}
              </p>
            </div>
          ))
        }

        <div
          class="details-portfolio animate__animated animate__backInLeft animate__delay-2s"
        >
          <div class="detail detail--1">
            <p class="ph"><strong>+2</strong>Years</p>
            <p class="sub-ph">Experience</p>
          </div>
          <span></span>

          <div class="detail detail--2">
            <p class="ph"><strong>5</strong></p>
            <p class="sub-ph">Proyects</p>
          </div>
          <span></span>

          <div class="detail detail--3">
            <p class="ph"><strong>+4</strong>Languages</p>
            <p class="sub-ph">Programming</p>
          </div>
        </div>
      </div>

      <!-- grid-img-cesar -->
      <!-- NOTA: las img deben tener una dimención de 720 x 720 - importante este formato -->

      <div
        class="content-presentation animate__animated animate__backInRight animate__delay-2s"
      >
        <div class="img-content">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../public/IMG/developer.jpg" class="d-block" />
              </div>
              <div class="carousel-item">
                <img src="../../../public/IMG/developer3.jpg" class="d-block" />
              </div>
              <div class="carousel-item">
                <img src="../../../public/IMG/developer4.jpg" class="d-block" />
              </div>
              <div class="carousel-item">
                <img src="../../../public/IMG/developer5.jpg" class="d-block" />
              </div>
            </div>
          </div>
          <div class="btn-presentation">
            <button class="btn btn--btn1"
              >Download CV
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-bar-to-down"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 20l16 0"></path><path d="M12 14l0 -10"></path><path
                  d="M12 14l4 -4"></path><path d="M12 14l-4 -4"></path></svg
              >
            </button>
            <button class="btn btn--btn2"
              >Repository Code
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-right"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M13 7h-6l4 5l-4 5h6l4 -5z"></path></svg
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div
    class="tecnology content-presentation animate__animated animate__fadeInUp animate__delay-1s"
  >
    <div class="SVG-tecnology container">
      <img src="../../../public/SVG/Figma.svg" />
      <img src="../../../public/SVG/VSCODE.svg" />
      <img src="../../../public/SVG/HTML.svg" />
      <img src="../../../public/SVG/CSS.svg" />
      <img src="../../../public/SVG/JS.svg" />
      <img src="../../../public/SVG/GIT.svg" />
      <img src="../../../public/SVG/GITHUB.svg" />
      <img src="../../../public/SVG/TAILWIND.svg" />
      <img src="../../../public/SVG/REACT.svg" />
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</header>
