---
import "../style/nav-movil.css";
import "../style/general-style.css";
---

<div class="nav-menu-content-movil" id="menu-toggel-movil">
  <div class="links-movil">
    <ul>
      <li class="item-link"><a href="#Home">Home</a></li>
      <span></span>
      <li class="item-link"><a href="/">Skill</a></li>
      <span></span>
      <li class="item-link"><a href="#Projects">Projects</a></li>
      <span></span>
      <li class="item-link">
        <button
          type="button"
          class="btn btn-primary nav-contact"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Contacts
        </button>
      </li>
    </ul>
  </div>
</div>
