---
import "../style/nav.css";
import "../style/general-style.css";
---

<nav class="nav animate__animated animate__fadeInDown">
  <section class="nav-content">
    <div class="logo">
      <img src="../../public/SVG/Logo-Cesar-Dev.svg" alt="<Cesar-Dev/>" />
    </div>
    <div class="nav-menu-content" id="menu-toggel">
      <div class="links">
        <ul>
          <li class="item-link"><a href="/">Home</a></li>
          <li class="item-link"><a href="/">My Skill</a></li>
          <li class="item-link"><a href="/">My Projects</a></li>
        </ul>
      </div>
      <div class="btn-nav">
        <a href="/" class="nav-contact">My Contacts</a>
      </div>
    </div>
  </section>
</nav>
