---
// impotaciones
import Nav from "../components/Nav.astro";
import NavMovil from "../components/Nav-movil.astro";
import Footer from "../components/Footer.astro";

import "../style/general-style.css";
import "../style/nav.css";

// Interfaces
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido | {title}</title>
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="../../public/image/icon-complete.svg"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <Nav />
  <NavMovil />
  <main>
    <slot />
  </main>
  <Footer />


  <style is:global>
    :root {
      /* background */
      --background-dark: #051138;
      --background-light: #d7d9df;
      --background-blur-10: 10px;
      --background-blur-5: 5px;

      /* General-Color */
      --primary-color: #3ffcc7;
      --secondary-color: #9747ff;
      --tertiary-color: #2c4ac4;

      /* Typography-Color */
      --text-color-green: #3ffcc7;
      --text-color-while: #ffffff;
      --text-color-black: #28303d;

      /* font-weight */
      --font-weight-100: 100;
      --font-weight-200: 200;
      --font-weight-300: 300;
      --font-weight-400: 400;
      --font-weight-500: 500;
      --font-weight-600: 600;
      --font-weight-700: 700;
      --font-weight-800: 800;
      --font-weight-900: 900;

      /* Fonfs */
      --text-title: "Dancing Script", sans-serif;
      --text-subtitle: "Roboto Mono", sans-serif;
      --text-paragraph: "Roboto", sans-serif;

      /* Gradients */
      --gradient-general: linear-gradient(to right, #3ffcc7, #017dfb);
      --gradient-Buttom: linear-gradient(to right, #3ffcc7, #017dfb);

      /* Opacity */
      --opacity-90: 0.9;
      --opacity-80: 0.8;
      --opacity-70: 0.7;
      --opacity-60: 0.6;
      --opacity-50: 0.5;
      --opacity-40: 0.4;
      --opacity-20: 0.2;
      --opacity-30: 0.3;

      /* Border Radius */
      --radius-8: 8px;
      --radius-12: 12px;

      /* delay animatios */
      --animate-delay: 0.5s;
    }
  </style>
</html>
